%table.table-condensed
  %tr
    %th.num No
    %th Question
    %th.date Created
    %th.num Number
    %th.link Link
  - if surveys && surveys.size > 0
    - surveys.each_with_index do |survey,i|
      %tr
        %td.center= i + 1
        %td= link_to survey.question, survey_path(survey)
        %td= survey.created_at.strftime(I18n.t('time.format'))
        %td
        %td.center
          = link_to I18n.t('common.result'), result_survey_path(survey)
          |
          = link_to I18n.t('common.edit'), edit_survey_path(survey)
          - if current_user.is_admin or survey.is_owner
            |
            = link_to I18n.t('common.delete'), survey_path(survey), :method => :delete, :data => { :confirm => 'Are you sure?' }