.text.font20.bold Listing categories
.list_data
  %table.table-condensed
    %tr
      %th.id #No
      %th Name
      %th Description
      %th.link Link
    - if @categories && @categories.size > 0
      - @categories.each_with_index do |category,i|
        %tr
          %td= i + 1 
          %td= category.name
          %td= category.description
          %td.center
            = link_to 'Show', category
            |
            = link_to 'Edit', edit_category_path(category)
            |
            = link_to 'Destroy', category, :method => :delete, :data => { :confirm => 'Are you sure?' }
  = link_to 'New Category', new_category_path, :class => "btn"
