%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    = stylesheet_link_tag  "application", :media => :all
    = yield :head
    %title
      Survey
  %body
    #page-wrapper
      #header
        = render 'shared/header'
      #page-container
        #main-content
          .ajax-loading.hide= image_tag('common/loading.gif')
          #flash-panel
            = render partial: "shared/flash_messages", flash: flash
          = yield
      #footer
        = render 'shared/footer'
  = javascript_include_tag "application"
  = yield(:js)